# Python cache
__pycache__/
*.pyc

# dbt-generated folders
dbt_modules/
dbt_packages/
target/
logs/
data/

# dbt Core config files
.profiles.yml
.users.yml
.user.yml

# Secrets
.env

# VS Code / IDE junk
.vscode/
.idea/
.pytest_cache/
.ruff_cache/

# OS junk
.DS_Store
Thumbs.db
